summary {
	cursor: pointer;
}

pre {
	white-space: pre-line;
}

img.inline-icon {
	width: 1em;
	vertical-align: middle;
	display: inline;
}

footer {
	color: grey;
}

:target::before {
	content: '';
	background-size: 100%;
	background-image: url('../pictures/tee.png');
	--side: 3em;
	width: var(--side);
	height: var(--side);
	vertical-align: middle;
	display: inline-block;
	position: absolute;
	transform: translateX(-100%) translateY(-25%);
}
